body{
    margin:0;
    padding:0;
}
.mainContainer{
    font-family: 'Montserrat', sans-serif; 
    width: 100%;
}

.mainMenu{
    position:sticky;
    top:0;
    background-color:rgb(001, 042, 072);
    min-height: 50px;
    justify-content: center;
    z-index: 99998;
    
}
.title,
#mainText{
    padding:0 4px;
}
.bigMenu{
    display:flex;
    justify-content: center;
    flex-wrap:nowrap;
}
.menuButton a{
    text-align:center;
    text-decoration: none;
    display:inline-block;
    padding:15px;
    width:200px;
    color:rgb(201, 201, 201);
    font-family: 'Montserrat', sans-serif;
}
.smallMenu{
    text-align:center;
    text-decoration: none;
    display:none;
    /* display block */
    padding:15px 0;
    width:100%;
    color:rgb(201, 201, 201);
    font-family: 'Montserrat', sans-serif;
 
}
#smul{
    background-color: rgb(001, 042, 072);
    position:absolute;
    width:100%;
    margin:0;
    padding-left:0;
    display:none;
}
#smul >li{
    text-align: center;
    color:whitesmoke;
    padding-top:13px;
    height:30px;
    display:block;
}
#smul a {
    color:whitesmoke;
    display:block;
} 

.menuButton a:hover,
.smallMenu:hover,
#smul li:hover{
    background-color:rgba(0, 0, 0, 0.651);
    transition-duration: 0.4s;
}

#mainImage{
    background-size: cover;
    
}
#mainImage img{
    width: 100%;
    height:auto;
}
#mainImage::after{
    content:"";
    display:block;
    height: 10px;
    background-image: linear-gradient(rgb(104, 62, 82),white);
    position: relative;
    bottom: 4px;
    margin-bottom: 25px;
    
}
header{
    display:block;
    text-align: center;
}
#gh2{
    margin:5px;
}

.h2, .h3{
    text-align: center;
    padding-top:10px;
}
#mainText{
    max-width:1000px;
    margin: auto;
    padding-top:20px;
    /* background-color: red; */
    text-align: center;
}
#mainText p{
    /* background-color: green; */
    margin-bottom:50px;
    text-align: center;
    padding:7px;
}
.footer{
    background-color:rgb(001, 042, 072);
    text-align: center;
    height:30px;
    color:rgb(201, 201, 201);
    display:block;
    padding-top:10px;
    padding-bottom: 0px;
}

.ad figcaption{
    text-align: center;
}
.asideText{
    /* background-color: yellow; */
    text-align:center;
}
.ads{
    display:flex;
    justify-content: center;
    flex-wrap:nowrap;
}
.ad{
    margin: 0 25px;
}
a{
text-decoration: none;
}
#contact{
    display:flex;
    flex-wrap: nowrap;
}
#btnScrollToTop{
    position: fixed;
    right:15px;
    bottom:15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color:white;
    outline:none;
    cursor:pointer;
    border:none;
    z-index:99999;
}
#btnScrollToTop:active{
    background-color: #cc2333;
}
.contactList{
/* background-color:rosybrown; */
width: 50%;
border-right: 1px solid black;
height: 80%;
margin:auto;
}
.contactList ul{
    list-style-type: none;
    padding:0;
}
.newsletterForm{
    width:50%;
    /* background-color: chartreuse; */
    padding-bottom: 10px;
}
/* .newsletterForm > h3{
    display:block;
    margin: 0 auto;
    width:80%;
} */
.newsletterForm label{
    text-align: left;
    display:inline-block;
    width:160px;
    /* background-color: red; */
    margin-bottom: 5px;
}
#age{
    width:177px;
}
.stopper{
    height: 30px;
}
#price{
    width:100%;
}
.table{
    font-size: 12px;
    border-collapse: collapse;
    color:whitesmoke;
    left:0;
    right:0;
    margin:0 auto 30px auto;

}
hr{
 width:inherit;
 border:1px solid rgb(001, 042, 072);
}
.table th{
    background-color:rgb(001, 042, 072);
}
.table tr, table td{
    text-align: center;
    padding:5px;
    border:1px solid rgb(126, 126, 126);
}
.table tr:nth-child(even){
    background-color:rgb(30, 61, 83);
}
.table tr:nth-child(odd){
    background-color:rgb(70, 83, 92);
}

textarea{
    resize:none
}
#gallery{
    height:660px;
    /* background-color: yellow; */
    position: relative;
    padding-bottom: 30px;
}
#gallery h2{
    /* background-color: turquoise; */
    display:block;
    text-align: center;
    padding: 13px;
    margin-bottom:0;

}
#pquote{
    margin-bottom: 0px !important;
}
.slider{
    position: absolute;
    max-width:800px;
    height:auto;
    overflow: hidden;
    /* left:10%; */

}
.slidernav{
    position: absolute;
    bottom: 20px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}
.bar{
    width:50px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition:0.4s;
}
.bar:hover{
    background-color: white;
}
input[name="r"]{
    position: absolute;
    visibility:hidden;
}
.slides{
    width:500%;
    height: 100%;
    display:flex;
}
.slide{
    width:20%;
    transition:0.6s;
}
.slide img{
    width:100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}
.title{
    max-width: 1000px;
    margin:0 auto;
    height:auto;
    box-sizing: border-box;
    
}
.deco{
    border:10px solid rgb(001, 042, 072);
    position:relative;
    box-sizing: border-box;
}
.deco::before {
    display:block;
    content:" ";
    height:13px;
    width:910px;
    background-color: white;
    position: absolute;
    top:-11px;
    left:90px;
    box-shadow:-100px 91px 0 white; 
}
.deco::after{
    display:block;
    content:" ";
    height:60px;
    width:13px;
    background-color: white;
    position: absolute;
    left:-10px;
    top:23px;
    box-shadow:989px -25px 0 white;
}
#temp{
    width:70%;
    display:none;
}

@media(min-width:800px){
    .slider{
        left:0;
        right:0;
        margin:0 auto;
    }
}
@media(max-width:399px){
    #gallery{
        height:350px;
    }
    .bar{
        width:30px;
    }
}
@media (min-width:400px) AND (max-width:600px){
    #gallery{
        height:430px;
    }
}
@media(min-width:870px) AND (max-width:1150px){
    .menuButton a{
        width:150px;
    }
}
@media (min-width:520px) AND (max-width:620px){
    #gallery{
        height:500px;
    }
}
@media(min-width:621px) AND (max-width:750px){
    #gallery{
        height:580px;
    }
}
@media(max-width:869px){
    .menuButton a{
        display:none;
    }
    .smallMenu{
        display:block;
    }
    #smul{
       
    }
}
@media(max-width:500px){
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size:1.3em;
    }
}
@media(max-width:960px){
    #contact{
        flex-wrap: wrap;
    }
    .contactList{
        /* border-bottom: 1px solid black; */
        margin-bottom:10px;
        border-right: none;
        width:100%;
    }
    .newsletterForm{
        width:100%;
    }
    .newsletterForm > h3{
        padding:10px;
    }
}
@media(max-width:690px){
    .ad{
        margin:0;
    }
}
@media(max-width:550px){
    .ads{
        flex-wrap: wrap;
    }
}
@media (max-width:1010px){
    .deco::before{
        display:none;
    }
    .deco::after{
        display:none;
    }
    .deco {
        border:0;
    }
    .title > h1{
        margin-bottom:35px;
    }
    #mainText{
        padding-top:0;
    }
    #temp{
        display:block;
    }
}